body {
    background-color: #F9FAFC;
}

nav {
    background-color: #231e20;
    color: #f8f2f4;
}

a {
    color: #aa7282;
    text-decoration: none;
}

a:hover,
a:active {
    color: #aa7282;
}

.link-bright {
    color: #f8f2f4;
}

.link-bright:hover,
.link-bright:active {
    color: #aa7282;
}

.active {
    font-weight: 700;
}

.post-link {
    text-decoration: none;
    color: #aa7282;
}

.btn-signin {
    background-color: #aa7282;
    color: #f8f2f4;
}

.btn-signin:hover,
.btn-signin:active {
    background-color: #f8f2f4;
    color: #aa7282;
}

.btn-like {
    color: #aa7282;
    border: none;
    background: transparent;
}

footer {
    background-color: #231e20;
    color: #f8f2f4;
}
