body {
    background-color: #f8f2f4;
}

nav {
    background-color: #231e20;
    color: #f8f2f4;
}

#logo {
    max-width: 120px;
}

.navbar-light {
    background-color: #f8f2f4;
}

.nav-logo {
    padding-left: 2%;
}

.nav-user {
    padding-right: 2%;
}

.pagination-nav {
    background-color: transparent;
}

.page-link {
    color: #aa7282;
    border: none;
}

.page-link:hover,
.page-link:focus {
    color: #231e20;
    background-color: #fff;
}

a {
    color: #aa7282;
    text-decoration: none;
}

a:hover,
a:active {
    color: #c9a2ad;
}

.link-bright {
    color: #f8f2f4;
}

.link-bright:hover,
.link-bright:active {
    color: #f8f2f4;
}

.link-dark {
    color: #231e20;
}

.link-dark:hover,
.link-dark:active {
    color: #f8f2f4;
}

.active {
    font-weight: 700;
}

.font-weight-bold {
    font-weight: bold;
}

.text-small {
    font-size: 75%;
}

.page-descr {
    padding: 1%;
    background: linear-gradient(90deg, rgba(248,242,244,1) 0%, rgba(255,255,255,1) 50%, rgba(248,242,244,1) 100%);
    text-align: center;
}

.image-container {
    position: relative;
}

.card {
    border: none;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.publisher-background {
    position: absolute;
    top: 0%;
    width: 100%;
    background-color: rgba(170, 114, 130, 0.5);
}

.publisher {
    color: white;
    margin: 4px;
    text-transform: lowercase;
    text-align: center;
}

.publisher-icon {
    padding-right: 1%;
}

.post-link {
    text-decoration: none;
    color: #aa7282;
}

.post-title {
    font-size: 150%;
    padding-top: 2%;
    text-transform: uppercase;
}

.featured-post-bg {
    background-color: #fff;
}

.profile-icons {
    font-size: 500%;
}

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

footer {
    background-color: #231e20;
    color: #f8f2f4;
}

/* Buttons */

.center-buttons {
    text-align: center;
}

.btns {
    border-radius: 10px;
    border: none;
    padding: .375rem .75rem;
    margin: 1%;
}

.btn-pink {
    background-color: #aa7282;
    color: #f8f2f4;
}

.btn-pink:hover,
.btn-pink:active {
    background-color: #c18f9d;
    color: #f8f2f4;
}

.btn-dark {
    background-color: #231e20;
    color: #f8f2f4;
}

.btn-dark:hover,
.btn-dark:active {
    background-color: #353032;
    color: #f8f2f4;
}

.btn-signin,
.btn-post {
    background-color: #aa7282;
    color: #f8f2f4;
}

.btn-signin:hover,
.btn-signin:active {
    text-decoration:line-through;
    color: #f8f2f4;
}

.btn-like {
    color: #aa7282;
    border: none;
    background: transparent;
}

/* media queries */
/* for medium screen devices from 768px wide and down */
@media screen and (max-width: 768px) {
    .card-img-top {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}