body {
    background-color: #f8f2f4;
}

nav {
    background-color: #231e20;
    color: #f8f2f4;
}

.navbar-light {
    background-color: #f8f2f4;
}

a {
    color: #aa7282;
    text-decoration: none;
}

a:hover,
a:active {
    color: #c9a2ad;
}

.link-bright {
    color: #f8f2f4;
}

.link-bright:hover,
.link-bright:active {
    color: #aa7282;
}


.link-dark {
    color: #231e20;
}

.link-dark:hover,
.link-dark:active {
    color: #f8f2f4;
}

.active {
    font-weight: 700;
}

.font-weight-bold {
    font-weight: bold;
}

.text-small {
    font-size: 75%;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.publisher-background {
    position: absolute;
    top: 0%;
    width: 100%;
    background-color: rgba(170, 114, 130, 0.5);
}

.publisher {
    color: white;
    margin: 4px;
    text-transform: lowercase;
    text-align: center;
}

.publisher-icon {
    padding-right: 1%;
}

.fp-icons {
    font-size: 200%;
}

.post-link {
    text-decoration: none;
    color: #aa7282;
}

.post-title {
    font-size: 150%;
    padding-top: 2%;
    text-transform: uppercase;
}

.featured-post-bg {
    background-color: #fff;
}

.btn-signin,
.btn-post {
    background-color: #aa7282;
    color: #f8f2f4;
}

.btn-signin:hover,
.btn-signin:active {
    background-color: #f8f2f4;
    color: #aa7282;
}

.btn-like {
    color: #aa7282;
    border: none;
    background: transparent;
}

.profile-icons {
    font-size: 500%;
}

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

/* .icon-container {
    width: 150px;
    height: 150px;
    background-color: white;
} */

footer {
    background-color: #231e20;
    color: #f8f2f4;
}

.center-buttons {
    text-align: center;
}

.edit-button,
.delete-button {
    padding: 1%;
    margin: 1%;
    border-radius: 50px;
}

.edit-button {
    color: #aa7282;
    border: 2px solid #aa7282;
}

.edit-button:hover {
    background-color: #aa7282;
    color: #f8f2f4;
}

.delete-button {
    border: 2px solid #231e20;
    color: #231e20;
}

.delete-button:hover {
    background-color: #231e20;
    color: #f8f2f4;
}

.btn-submit {
    border: 2px solid #aa7282;
    color: #aa7282;
    border-radius: 50px;
}

.btn-submit:hover {
    color: #f8f2f4;
    background-color: #aa7282;
}

/* media queries */
/* for medium screen devices from 768px wide and down */
@media screen and (max-width: 768px) {
    .card-img-top {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}