{% load static %}

<!DOCTYPE html>
<html class="h-100">

<head>
    <title>PhotoStream</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body class="d-flex flex-column h-100 main-bg">

    <!-- Navigation -->

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <span class="nav-logo">
                <a class="navbar-brand link-bright" href="{% url 'home' %}"><img
                        src="https://res.cloudinary.com/emmavkarlsson/image/upload/v1694295556/photostream_logo_bright_soygfr.png"
                        alt="Photostream Logo" id="logo"></a>
            </span>
            <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active link-bright" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-bright" href="{% url 'categories' %}">Categories</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link link-bright" href="{% url 'add_image' %}">+ Add Image</a>
                    </li>
                    {% endif %}

                </ul>
                {% if user.is_authenticated %}
                <span class="navbar-text d-flex nav-user">
                    <a class="nav-link link-bright" href="{% url 'profile' %}"><i class="fas fa-user"></i>
                        <span>{{ user.username }}</span>
                    </a>
                </span>
                {% else %}
                <span class="navbar-text d-flex nav-user">
                    <a class="nav-link link-bright" href="{% url 'account_login' %}">Login</a>
                </span>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-2 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <main class="flex-shrink-0 main-bg">

        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="footer mt-auto py-3">
        <p class="m-0 text-center">PhotoStream Inc.</p>
        <p class="m-0 text-center">Follow us:
            <a href="http://facebook.com" target="_blank" rel="noopener" class="link-bright"
                aria-label="Visit our FaceBook page (opens in a new tab)">
                <i class="fab fa-facebook ms-3"></i></a>
            <a href="http://twitter.com" target="_blank" rel="noopener" class="link-bright"
                aria-label="Visit our Twitter page (opens in a new tab)">
                <i class="fab fa-twitter ms-3"></i></a>
            <a href="http://youtube.com" target="_blank" rel="noopener" class="link-bright"
                aria-label="Visit our Youtube page (opens in a new tab)">
                <i class="fab fa-youtube ms-3"></i></a>
            <a href="http://instagram.com" target="_blank" rel="noopener" class="link-bright"
                aria-label="Visit our Instagram page (opens in a new tab)"><i class="fab fa-instagram ms-3"></i></a>
        </p>
    </footer>
    <script>
        setTimeout(function () {
            let messages = document.getElementById('msg');
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 2500);
    </script>
</body>

</html>