{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row text-center">
                {{ cats }} {% for category in category_list %}
                <div class="col-md-4">
                    <div class="card-body">
                        <div class="image-container">
                            <h3>{{ category.name }}</h3>
                            <a href="#"><img class="card-img-top" src="{{ category.coverphoto.url }}"
                                    alt="category image" />
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor%}
            </div>
        </div>
    </div>
</div>
{%endblock%}
