{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 mt-3">
            <p class="text-center mt-3">Are you sure you want to delete?</p>
            <form class="text-center" method="POST">
                {%  csrf_token  %}
                <div>
                    <button class="btns btn-pink"><a href="{% url 'featured_post' post.slug %}" class="link-bright">Cancel</a></button>
                    <button class="btns btn-dark" type="submit">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}