{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div>
    <div class="container">
        <div class="row">
            <div class="col mt-4 mb-4 center-buttons">
                {% if user.is_authenticated and post.publisher == user  %}
                <a href="{% url 'edit_post' post.slug %}" class="edit-button"><i class="fas fa-pen"></i> Edit</a>
                <a href="{% url 'delete_post' post.slug %}" class="delete-button"><i class="fas fa-trash"></i> Delete</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row featured-post-bg pt-3">
            <div class="d-none d-md-block col-md-12">
                {% if "placeholder" in post.photopost.url %}
                <img src="https://res.cloudinary.com/emmavkarlsson/image/upload/v1693860102/p8vwzctkppf7vm6njgpv.jpg"
                    width="100%">
                {% else %}
                <img src=" {{ post.photopost.url }}" width="100%">
                {% endif %}
            </div>
            <div class="col-md-12">
                <h1>{{ post.title }}</h1>
                <p>{{ post.publisher }} | {{ post.created_on }}</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row featured-post-bg">
        <div class="col card">
            <div class="card-body mb-3">
                <p class="card-text">
                    {{ post.description | safe }}
                </p>
                <div class="row">

                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="fas fa-heart fp-icons"></i></button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="far fa-heart fp-icons"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span><i class="far fa-heart fp-icons"></i></span>
                            {% endif %}
                            <span>{{ post.number_of_likes }}</span>
                        </strong>
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong><i class="far fa-comments fp-icons"></i>
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row featured-post-bg mt-3 mb-3">
        <div class="col-md-8 card mb-3 mt-3">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div>
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span>
                            {{ comment.created_on }}
                        </span> commented:
                        <span style="float: right;">
                            {% if comment.name == user.username or post.publisher == user %}
                                <a href="{% url 'delete_comment' comment.id %}" aria-label="Delete Comment"><i
                                        class="fas fa-trash"></i></a>
                            {% endif %}
                        </span>
                    </p>
                    {{ comment.body | linebreaks }}
                    <div class="row">
                        <hr>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-3 mt-3">
            <div class="card-body">
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn mt-3 btn-submit">Submit</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}