{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.photopost.url %}
                                <a href="{% url 'featured_post' post.slug %}">
                                    <img class="card-img-top" src="https://res.cloudinary.com/emmavkarlsson/image/upload/v1693860102/p8vwzctkppf7vm6njgpv.jpg">
                                </a>
                                {% else %}
                                <a href="{% url 'featured_post' post.slug %}">
                                    <img class="card-img-top" src=" {{ post.photopost.url }}">
                                </a>
                                {% endif %}
                                <div class="publisher-background">
                                    <p class="publisher"><i class="fas fa-camera publisher-icon"></i> {{ post.publisher }}</p>
                                </div>
                            </div>
                            <a href="{% url 'featured_post' post.slug %}" class="post-link">
                                <h2 class="post-title">{{ post.title }}</h2>
                            </a>
                            <p class="card-text h6">{{ post.created_on}}  <i class="far fa-heart"></i> {{ post.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    
    {% if is_paginated %}
    <nav aria-label="Page navigation" class="pagination-nav">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item button"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&lsaquo; Prev </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li class="page-item button"><a href="?page={{ page_obj.next_page_number }}" class="page-link button"> Next &rsaquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}